*{
    margin:0;
    padding:0;

}


.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.png);
    background-position: center;
    background-size: cover;
    height: 109vh;


}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    color:rgb(0, 0, 0);
    font: size: 30px;
    font-family: Arial;
    padding-left: 30px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    color: black;
}
ul li a{
    text-decoration: none;
    color:rgb(252, 6, 6)
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out ;
    color: black;
}
ul li a:hover{
    color:gold;

}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    color:gold;

}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid GOLD ;
    margin-top: 13px;
    color: rgb(247, 219, 12);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom left radius 5px; ;
    border-top-left-radius: 5px;
    

}

.btn{
    width: 100px;
    height: 40px;
    background:rgb(255, 253, 253);
    margin-top: 13px;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border=bottom-right-radius:5px;
    text-align:center;
    
}

.btn:focus{
    outline: none;
}

.srch.focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(255, 255, 255);
    position: relative;
}

.content.par{
    padding-left: 20px;
    padding-bottom: 50px;
    font-family:sans-serif;
    letter-spacing: 2px;
    line-height: 50px;
    

}

.content.h1{
    font-family: 'Times New Roman';
    padding-left: 20px;
    margin-top: 20%;
    letter-spacing: 2px;
    font-size: 250px;

} 
.content.cn{
    width: 160px;
    height: 35px;
    background: rgb(10, 10, 10);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}
.content.cn a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .3s ease;

}
.cn:hover{
    background-color: rgb(0, 0, 0);

}
.content span{
    color: rgb(5, 5, 5);
    font-size: 30px;
}
.form{
    width: 250px;
    height: 330px;
    background: linear-gradient(to top,black,black);
    position: absolute;
    top: 50px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;

}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 22px;
    background-color: white;
    border-radius: 1px;
    margin: 2px;
    padding: 10px;
    border: 2px solid white;


}

.form input{
    width: 240px;
    height: 20px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(226, 173, 26);
    font-size: 15px;
    margin-top: 25px;
    font-family: sans-serif;


}

.form input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: Arial;
}

.btrn{
    width: 240px;
    height: 40px; 
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: wheat;
    transition:.0.4s ease ;

}
.btrn:hover{
    background: wheat;
    color: orange;
}

.btnn a{
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}

.font.link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;

}
.form.link a{
    text-decoration: none;
    color: rgba(211, 128, 4, 0.699);

}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
    text-decoration:none ;
    color: white;

}

.ico ion-icon {
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: .0.3s ease;

}

.ico ion-icon:hover{
    color: orange;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
}
cn{
    font-size: 100px;
}